
*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}

#app{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background: antiquewhite;
    padding: 150px 50px 0px 50px;
    justify-content: space-between;
}

.text-line{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    font-size: 28px;
    font-weight: bold;
}

.ship-info{
    display: flex;
    flex-direction: column;
}
#enemies-container .ship {
    min-height: 350px;
}
.inner-container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 40px;
    padding-top: 12px;
    background: lightgrey;
    border-radius: 10px;
    text-align: center;
    background: aquamarine;
}
#messages{
    max-height: 200px;
    overflow: auto;
    padding: 8px 0px;
    padding-right: 20px;
}